:root {
    --logo-light: #117f7f;  /*Couleur 1 du logo, par défaut bleu-vert #117f7f*/
    --logo-light2: #025a5a; /*Couleur 1 du logo, avec 10% de luminosité en moins*/
    --logo-dark: #000000;   /*Couleur 2 du logo, par défaut noir #000000*/
    --main-bg: #F3E9DC;     /*Couleur de l'arrière-plan*/
    --highlight: #CA8249;   /*Couleur d'accentuation*/
    --highlight2: #B57541; 
}

html,body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--main-bg);
    font-family: OrkneyRegular;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    margin: auto;
}

.card-main {
    width: 24rem;
    height: 24rem;;
    border-radius: 2%;
    margin: 1.5rem;
    filter: drop-shadow(0.2rem 0.2rem 0.1rem var(--logo-light));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.card-main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.25s ease-in-out transform;
}
.card-main:active {
    top: 0.2rem;
    filter: none;
}
.card-main:hover::before {
    transform: scale(1.3);
}
.card-main a {
    display: flex;
}

footer {
    background-color: var(--logo-dark);
    color: var(--logo-light);
    padding: 0.5rem 1.5rem 10.5rem;
    margin-bottom: -10rem;
    font-size: 1rem;
    filter: drop-shadow(-0.1rem -0.1rem 0.1rem var(--logo-light))
}

header {
    background-color: var(--logo-dark);
    color: var(--logo-light);
    padding: 0.5rem 1.5rem;
    filter: drop-shadow(-0.1rem 0.2rem 0.1rem var(--logo-light));
}
header a {
    color: inherit;
    transition: all 0.1s;
    padding-left: 1rem;
}
header a:hover {
    color: var(--main-bg);
    transition: all 0.1s;
}
header li {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    padding-top: 0.4rem;
}
header ul {
    display: inline-block;
    padding: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70rem;
    margin: auto;
}

.home-button{
    display: inline-block;
    vertical-align: middle;
    height:4rem;
}

.pad-button {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--logo-light);
    display: flex;
    filter: drop-shadow(0 0.3rem var(--logo-light2));
    position: relative;
}
.pad-button:hover {
    top: -0.1rem;
    filter: drop-shadow(0 0.4rem var(--logo-light2));
}
.pad-button:active {
    top: 0.2rem;
    filter: drop-shadow(0 0.1rem var(--logo-light2));
}

.pad-icon {
    filter: brightness(0) invert();
    max-height: 4rem;
    max-width: 4rem;
    margin: auto;
}

#epd .card-main::before{
    background-image: url(etherpad.png);
}
#cmd .card-main::before{
    background-image: url(codimd.png);
}
#wbd .card-main::before{
    background-image: url(whiteboard.jpg);
    background-position: center;
}
